.automobile-details-container {
  padding-top: 60px;
  padding-left: 20rem;
  display: grid;
  width: 700px;
  grid-template-columns: 400px 300px;
}

.automobile-data {
  border: none;
  border-radius: 10px;
}

.automobile-details-image {
  width: 300px;
  height: 300px;
  border: 3px solid lightblue;
  margin: 0;
}

.automobile-details-year,
.automobile-details-model,
.automobile-details-location,
.automobile-details-rate {
  color: black;
}

.automobile-details-model {
  font-size: 20px;
  font-weight: 600;
}

.automobile-details-button {
  background-color: lightblue;
  color: white;
  border-radius: 10px;
  border: none;
  width: 90px;
  height: 25px;
  cursor: pointer;
}

.gray-row {
  background-color: #f4f4f4;
}

@media only screen and (max-width: 600px) {
  .automobile-details-container {
    display: flex;
    flex-direction: column;
    padding: 30%;
    width: 200px;
  }

  .automobile-details-model {
    font-size: 14px;
    font-weight: 600;
  }
}

